.wrapp-form-asesorias {
    padding: 72px 90px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 100%;
}

.form-asesorias {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 950px;
}

.text-head-group-radio {
    font-family: 'Neue montreal';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #3C4549;
    letter-spacing: 2%;
}

.info-text {
    font-family: 'Neue montreal';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #757575;
}

.info-text-strong {
    font-family: 'Neue montreal';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #3C4549;
}

.wrapp-text-alert-img-upload {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.text-radio label {
    font-family: 'Neue montreal';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #3C4549;
    letter-spacing: 2%;
}

.text-radio {
    font-family: 'Neue montreal';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #3C4549;
    letter-spacing: 2%;
}

.none-div {
    display: none!important;
}

.wrapp-radio-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.head-master-form {
    font-family: 'Neue montreal';
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #3C4549;
    letter-spacing: 2%;
    margin: 0;
}

.wrapp-upload-content {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 24px;
    width: auto;
}

.alert-upload-img {
    padding: 9px 16px;
    background: #EEEEF2;
    border-style: solid;
    border-width: 1px;
    border-color: #9E9E9E;
    border-radius: 8px;
    display: flex;
    gap: 4.5px;
    width: 440px;
    margin-top: 8px;
}